<footer id="footer">
    <div class="">
        <p>© Chad Rossouw. {{ "now" | date: "%Y"}}</p>
    </div>
</footer>

<script src="js/dragdroptouch.js"></script>
<script src="js/main.js"></script>
</body>
</html>